<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>sessionmgtHdnUrlrewrt</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HiddenUrlRewrite</display-name>
    <servlet-name>HiddenUrlRewrite</servlet-name>
    <servlet-class>org.sessionmgtHdnUrlrewrt.HiddenUrlRewrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenUrlRewrite</servlet-name>
    <url-pattern>/HiddenUrlRewrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.sessionmgtHdnUrlrewrt.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaceServlet</display-name>
    <servlet-name>FaceServlet</servlet-name>
    <servlet-class>org.sessionmgtHdnUrlrewrt.FaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaceServlet</servlet-name>
    <url-pattern>/Face</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaseServlet</display-name>
    <servlet-name>FaseServlet</servlet-name>
    <servlet-class>org.sessionmgtHdnUrlrewrt.FaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaseServlet</servlet-name>
    <url-pattern>/Fase</url-pattern>
  </servlet-mapping>
</web-app>